:root {
  --ticker-color: transparent;
  --board-marron: #e56567;
  --board-green: #609217;
  --board-pink: #ffc0cb;
  --board-blue: #00adff;
  --board-off-white: #f8f8ff;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9fr 1fr;
  grid-gap: 20px;
}

.board {
  width: 700px;
  height: 700px;
  margin: 0;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(10, 70px) / repeat(10, 70px);
  position: absolute;
}

.board-item {
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  z-index: 100;
}

.players {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}
.move-ticker {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--ticker-color);
}

/* section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.dice-result {
  font-weight: bold;
  font-size: 30px;
}

.button {
  border: 1px solid;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}

.button-1 {
  border-color: red;
  background-color: red;
}

.button-2 {
  border-color: green;
  background-color: green;
}

.button.disabled {
  cursor: none;
  border-color: gray;
  background-color: gray;
}

.snake-1 {
  grid-column: 8;
  grid-row: 1;
}

.snake-2 {
  grid-column: 3;
  grid-row: 1;
}

.snake-3 {
  width: 100%;
  grid-column: 2;
  grid-row: 7;
}

.snake-5 {
  grid-column: 4;
  grid-row: 3;
}
.snake-6 {
  grid-column: 6;
  grid-row: 8;
}
/* TODO: Arbitary widths needs to be fixed */
.snake-7 {
  grid-column: 8;
  grid-row: 7;
  width: 270%;
}
.snake-8 {
  grid-column: 2;
  grid-row: 8;
  transform: rotate(120deg);
  width: 380%;
}

.snake-4 {
  grid-column: 2;
  grid-row: 4;
  width: 287%;
  transform: rotate(-13deg);
}

.ladder {
  width: 25px;
  border: 5px solid black;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.ladder-1 {
  height: 120px;
  grid-column: 2;
  grid-row: 1;
  transform: rotate(-35deg);
}

.ladder-2 {
  height: 200px;
  grid-column: 4;
  grid-row: 5;
  transform: rotate(-44deg);
}

.ladder-3 {
  height: 500px;
  grid-column: 7;
  transform: rotate(-35deg);
  grid-row: 2;
}
.ladder-4 {
  height: 200px;
  grid-column: 8;
  transform: rotate(-48deg);
  grid-row: 4;
}
.ladder-5 {
  height: 200px;
  grid-column: 2;
  transform: rotate(47deg);
  grid-row: 8;
}
.ladder-6 {
  height: 200px;
  grid-column: 2;
  transform: rotate(21deg);
  grid-row: 6;
}
.ladder-7 {
  height: 150px;
  grid-column: 6;
  transform: rotate(59deg);
  grid-row: 9;
}

.ladder-8 {
  height: 170px;
  grid-column: 10;
  grid-row: 1;
  transform: rotate(-25deg);
}

.ladder span {
  border: 3px solid black;
  margin: 20px 0 0 0;
  display: block;
}
